@page
@model FinalProject.Pages.ComposeMail.IndexModel
@{
}
<form>
    <fieldset>
        <legend><h4>SENDING SUCCESSFUL!</h4></legend>
        <a class="btn btn-primary btn-sm" href="/Index">HOME</a>
    </fieldset>
</form>