@page
@model FinalProject.Pages.ComposeMail.IndexModel
@{
}

<br />
<h2>SENDING EMAIL</h2>

<form method="post">
    <div class="row mb-3">
        <label class="col-sm-1 col-form-label">To</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" >
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-1 col-form-label">Subject</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" >
        </div>
    </div>
    <div class="row mb-5">
        <label class="col-sm-1 col-form-label">Message</label>
        <div class="col-sm-6">
            <input style="height: 400px" type="text" class="form-control" >
        </div>
    </div>


    <div class="row mb-3">
        <div class="offset-sm-1 col-sm-1 d-grid">
            <button type="submit" class="btn btn-primary">SEND</button>
        </div>
        <div class="col-sm-2 d-grid">
            <a class="btn btn-outline-primary" href="/Index" role="button">HOME</a>
        </div>
    </div>

</form>