@page
@model FinalProject.Pages.ComposeMail.ComposeEmailModel
@{
}

<br />
<h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SENDING EMAIL</h2>
@if (Model.ErrorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.ErrorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<form  method="post">
    <div class="row mb-3">
        <label class="col-sm-1 col-form-label">To</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="receiver">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-1 col-form-label">Subject</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="subject">
        </div>
    </div>
    <div class="row mb-5">
        <label class="col-sm-1 col-form-label">Message</label>
        <div class="col-sm-6">
            <textarea style ="height: 400px" type="text" class="form-control" name="message"></textarea>
        </div>
    </div>


    <div class="row mb-3">
        <div class="offset-sm-1 col-sm-1 d-grid">
            <button type="submit" class="btn btn-primary" href="/ComposeDone">SEND</button>
        </div>
        <div class="col-sm-2 d-grid">
            <a class="btn btn-outline-primary" href="/Index" role="button">HOME</a>
        </div>
    </div>

</form>