@page
@model IndexModel
@{
}
<form>
    <fieldset>
        <legend><h4>Login Failed</h4></legend>
        <p>Incorrect username or password.</p>
        <a class="btn btn-primary btn-sm" href="/Identity/Account/Login">TRY AGAIN</a>
    </fieldset>
</form>