@page
@model FinalProject.Pages.ComposeMail.ComposeEmailModel
@{
}
<form>
    <fieldset>
        <legend><h4>LOG OUT</h4></legend>
        <p>You have been successfully logged out!</p>
        <a class="btn btn-primary btn-sm" href="/Index">HOME</a>
    </fieldset>
</form>