@page
@model FinalProject.Pages.ComposeMail.ComposeEmailModel
@{
}
<form>
    <fieldset>
        <legend><h4>Logout SUCCESSFUL!</h4></legend>
        <a class="btn btn-primary btn-sm" href="/Index">HOME</a>
    </fieldset>
</form>