@page
@model FinalProject.Pages.ReadMail.DeleteSuccessModel
@{
}
<form>
    <fieldset>
        <legend><h4>DELETE SUCCESSFUL!</h4></legend>
        <a class="btn btn-primary btn-sm" href="/Index">HOME</a>
    </fieldset>

</form>