@page
@using FinalProject.Pages.ReadMail;
@model ReadEmail
@{
}

<table>
    <tbody>
        <tr style="height: 18px;">
            <td style="width: 1.42045%; height: 60px; text-align: center;">&nbsp;</td>
            <td style="width: 65.2461%; height: 50px; text-align: center;"><h1><strong>READING EMAIL</strong></h1></td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 1.42045%; height: 18px; text-align: right;"><p>From:@Model.Email.EmailSender</p>></td>
            <td style="width: 65.2461%; height: 18px;">&nbsp;</td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 1.42045%; height: 18px; text-align: right;"><p>Subject:@Model.Email.EmailSubject</p></td>
            <td style="width: 65.2461%; height: 18px;">&nbsp;</td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 1.42045%; height: 18px; text-align: right;"><p>Message:@Model.Email.EmailMessage</p></td>
            <td style="width: 65.2461%; height: 18px;">&nbsp;</td>
        </tr>
    </tbody>
</table>
<a style="padding-left: 80px;" class="btn btn-primary btn-sm" href="/Index?Sender=@User.Identity.Name">Home</a>